* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
    /* background-color: antiquewhite; */
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* padding: 30px; */
}

.nav {
    align-items: center;
}
  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.category {
    padding-right: 10px;
}

.products{
   padding: 30px;
}
table{
    padding: 50px;
}
.cartproductimg{
    width: 5vw;
    height: 5vw;
    justify-content: right;
}
.cartprice{
    text-align: right;
    font-size: x-large;
    padding-right: 10vw;
}